body
{
    background-color:#04A1BF;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: azure;
    margin-top: 20px;
}

p
{
    color:aliceblue;
    font-weight: bolder;
    margin: 10px;
}

.form
{
    margin: 20;
}

input.todo
{
    width: 70%;
    height: 30px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #CCCCCC;   
}

button.submit
{
    width: 10%;
    height: 35px;
    border: none;
    background-color: #0082A6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

ul
{
    width: 70%;
    list-style-type: circle;
    display: inline-block;
    text-align: left;
    border: 2px solid beige;
    padding: 10px;
    border-radius: 10px;
}

li
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aliceblue;
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
}

li:last-child
{
    border-bottom: none;
}

li:hover
{
    cursor:pointer;
    font-size: 1.2em;
    color: #0082A6
}